.legend-container {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  width: 320px;
  height: 184px;
  background-color: white;
  padding: 4px 16px;
  position: absolute;
  right: 10%;
  bottom: 12%;
  border: 2px solid var(--color-green);
}

.legend-container > p {
  font-weight: 700;
  font-size: 12px;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

.legend-row {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.legend-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.legend-col > p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.fill {
  padding: 2px 8px;
  margin-right: 8px;
}

.clear {
  background-color: #00feff;
}

.fair {
  background-color: #02ebec;
}

.partly-cloudy {
  background-color: #02bbc2;
}

.cloudy {
  background-color: #00999c;
}

.light-showers {
  background-color: #ffc53e;
}

.showers {
  background-color: #ffa600;
}

.heavy-showers {
  background-color: #fe8a00;
}

.thundery-showers {
  background-color: #ff4702;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
  .legend-container {
    position: inherit;
    margin-bottom: 8px;
  }
}

@media (max-width: 420px) {
  .legend-container {
    justify-content: start;
    align-items: center;
    width: 200px;
    height: 220px;
    margin-bottom: 16px;
  }

  .legend-row {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
  }

  .legend-col {
    width: 100%;
  }

  .legend-col > p {
    margin: 4px;
  }
}
