.map-container {
  position: relative;
}

.map-container rect {
  display: none;
}

.metadata {
  position: absolute;
  right: 10%;
  bottom: 5%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.metadata > p {
  margin: 0;
}

.map {
  width: 90vw;
  height: 64vh;
  margin-bottom: 48px;
}

.area {
  outline: none;
}

.area:hover {
  fill: var(--color-yellow);
  cursor: pointer;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
  .map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: inherit;
  }

  .metadata {
    position: inherit;
    font-size: 10px;
    display: block;
    text-align: center;
    width: 80%;
  }

  .map {
    height: 40vh;
    margin-bottom: 8px;
  }
}

@media (max-width: 400px) {
  .map {
    width: 80vw;
    height: 32vh;
  }
}
