.map-container {
  position: relative;
}

.metadata {
  position: absolute;
  right: 10%;
  bottom: 5%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.metadata > p {
  margin: 0;
}

.map {
  width: 100vw;
  height: 64vh;
  margin-bottom: 48px;
}

.area {
  outline: none;
}

.area:hover {
  fill: var(--color-yellow);
  cursor: pointer;
}
