/* HEADER */
.header {
  width: 100vw;
  padding: 16px 56px;
  margin: 0 auto;
}

.header > p {
  font-family: "Raleway", sans-serif;
  font-style: italic;
}

/* INFO PANEL */
.info-panel {
  margin: 0 auto 16px auto;
  background-color: var(--color-green);
  color: var(--color-beige);
  width: 480px;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
}

.info-panel > p {
  margin: 4px 0;
}

.info-panel > p:first-child {
  font-size: 16px;
  font-weight: 700;
}

/* DROPDOWN FORM */
.form-container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 12px 56px;
}

.dropdown > select {
  padding: 4px 8px;
  margin-right: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: var(--color-green);
  border: 2px solid var(--color-green);
  border-radius: 4px;
  outline: none;
}

/* BUTTONS */
.location-btn,
.refresh-btn {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-green);
}

.location-btn {
  background-color: var(--color-green);
  color: var(--color-beige);
  margin-right: 8px;
}

.location-btn:hover {
  background-color: #005a00;
  cursor: pointer;
}

.refresh-btn {
  background-color: var(--color-yellow);
  color: var(--color-green);
}

.refresh-btn:hover {
  background-color: var(--color-beige);
  cursor: pointer;
}

/* FOOTER */
.footer {
  font-size: 10px;
  font-weight: 400;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .footer {
    margin: 32px auto 16px auto;
    width: 80%;
  }

  .info-panel {
    width: 320px;
    padding: 8px 16px;
    border-radius: 4px;
  }
}

@media (max-width: 420px) {
  .form-container {
    justify-content: center;
  }

  .info-panel {
    width: 100%;
    padding: 8px 16px;
    border-radius: 0;
  }
}
