.header {
  width: 100vw;
  padding: 16px 56px;
}

.header > p {
  font-family: "Raleway", sans-serif;
  font-style: italic;
}

.info-panel {
  margin: 0 auto 16px auto;
  background-color: var(--color-green);
  color: var(--color-beige);
  width: 480px;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
}

.info-panel > p {
  margin: 4px 0;
}

.info-panel > p:first-child {
  font-size: 16px;
  font-weight: 700;
}

.form-container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 12px 56px;
}

.dropdown > select {
  padding: 4px 8px;
  margin-right: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: var(--color-green);
  border: 2px solid var(--color-green);
  border-radius: 4px;
  outline: none;
}

.location-btn {
  width: 28px;
  height: 28px;
  border: 2px solid var(--color-green);
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  color: var(--color-beige);
}

.location-btn:hover {
  background-color: #005a00;
  cursor: pointer;
}

.footer {
  font-size: 10px;
  font-weight: 400;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  text-decoration: none;
  cursor: pointer;
}
